@import "../../../styles/var.less";

.realTimeTrafficMain {
  display: flex;
  height: 100%;
  .libraryTree {
    flex: 0 0 300px;
    border-right: 1px solid @border-color;
    padding-top: 60px;
    .libraryTreeForm {
      padding: 0 10px 10px;
      width: 300px;
    }
  }

  .businessEChart {
    flex: 1;
    max-width: calc(100vw - 226px);
    max-height: calc(100vh - 140px);
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
  }
}
