@import "../../../styles/var.less";

.realTimeTrafficMain {
  display: flex;
  height: 100%;
  .libraryTree {
    flex: 0 0 300px;
    padding-top: 60px;
    border-right: 1px solid @border-color;
    .libraryTreeForm {
      width: 300px;
      padding: 0 10px 10px;
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 34px;
        margin: -10px -2px 3px;
        color: #5c5c5c;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }

  .businessEChart {
    flex: 1;
    max-width: calc(100vw - 226px);
    max-height: calc(100vh - 140px);
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
  }
}
