.rawLogTabsMain {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  // overflow-x: scroll;
  overflow: hidden;
  .tabs {
    flex: 1;
    :global {
      .ant-tabs-content-holder {
        display: flex;
        flex: 1;
      }
    }
  }

  // :global .ant-tabs-tab-btn {
  //   width: 100px;
  //   overflow: hidden;
  //   text-overflow: ellipsis;
  //   white-space: nowrap;
  // }
}
