### react ###
.DS_*
**/*.backup.*
**/*.back.*

psd
thumb
sketch

.idea
.vscode

*.log
*.swp
*.swo

/bin
/api/bin

/logs
/api/logs

*.tar.gz

*.sys
configs/
logs/

node_modules/
/dist
/ui/dist
api/internal/ui/dist/*
!api/internal/ui/dist/README.md

.umi/
.umi-production/
package-lock.json
