### react ###
.DS_*
**/*.backup.*
**/*.back.*

psd
thumb
sketch

.idea
.vscode

*.log
*.swp
*.swo

/bin
/api/bin

/logs
/api/logs

*.tar.gz

*.sys
configs/
logs/

node_modules/
/dist
/ui/dist
api/internal/ui/dist/*
!api/internal/ui/dist/README.md

.umi/
.umi-production/
package-lock.json

data/all-in-one/clickhouse/database/
data/all-in-one/kafka/data/
data/all-in-one/zookeeper/data/
data/all-in-one/zookeeper/datalog/

rules/*
/data/helm/clickvisual/default.toml
/data/helm/clickvisual/resource.yaml

/data/k8s/fluent-bit/

ossutil64
ossutil64.1