### react ###
.DS_*
**/*.backup.*
**/*.back.*

psd
thumb
sketch

.idea
.vscode

*.log
*.swp
*.swo
*.tar.gz
*.sys
proxt.ts


### root folder
/tests
/bin
/logs
/rules
/configs
/api/bin
/api/logs

/data/k8s/fluent-bit/
/data/all-in-one/kafka/data/
/data/all-in-one/zookeeper/data/
/data/all-in-one/zookeeper/datalog/
/data/all-in-one/clickhouse/database/

### inner folder
logs/
node_modules/

.umi/
.umi-production/

### necessary file
!api/internal/ui/dist/cv.png
api/internal/ui/dist/

### file
package-lock.json
api/docs/index.html

/data/helm/clickvisual/default.toml
/data/helm/clickvisual/resource.yaml

### ci tools
ossutil64
ossutil64.1
obsutil_linux_amd64*/

dump.rdb
