.CustomCollapse {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 20px;
  .titleBox {
    display: flex;
    background-color: #f8c3a6;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;

    .title {
      padding: 0 10px;
      color: #fff;
      background-color: #ef7c3e;
      border-radius: 2px;
    }
  }
  .content {
  }
}
