.FilterList {
  width: 100%;
  height: 30px;

  padding-bottom: 10px;
  padding-left: 4px;
  overflow: hidden;
  white-space: nowrap;

  .overflowBox {
    padding-bottom: 10px;
    overflow-y: auto;
    .name {
      cursor: pointer;
    }
    .global {
      position: relative;
      &::before {
        position: absolute;
        top: -3px;
        left: -7px;
        width: 4px;
        height: 21px;
        background-color: #f5af88;
        border-radius: 2px 0 0 2px;
        content: "";
      }
    }

    .ignore {
      text-decoration: line-through;
      &::before {
        background-color: #ccc;
      }
    }
  }
}

.none {
  display: none;
}

:global(.ant-tag) {
  border-radius: 2px !important;
}
