.infoMain {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0 20px;
  line-height: 32px;

  .item {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
    .title {
      width: 160px;
      font-weight: bold;
    }
    .content {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: normal;
    }
  }

  .selectBar {
    width: 240px;
  }
}
.infoEditor {
  flex: 1;
  padding: 0 20px;
}
