@import "../../../styles/var.less";

.realTimeTrafficMain {
  display: flex;
  height: 100%;
  padding: 10px;
  .libraryTree {
    flex: 0 0 300px;
    padding: 10px;
    border: 1px solid @border-color;
    border-radius: 8px;
  }

  .trafficEChart {
    flex: 1;
  }
}
