.dataSourceMenuMain {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-right: 5px;
  padding: 5px;
  background: hsla(0, 0%, 92%, 0.4);
}

.dataSourceMenuHidden {
  position: relative;
  display: none;
}
