.dataSourceMenuMain {
  display: flex;
  flex: 0 0 200px;
  flex-direction: column;
  max-width: 200px;
  margin-right: 5px;
  padding: 5px;
  background: hsla(0, 0%, 92%, 0.4);
  border: 1px solid hsla(0, 0%, 0%, 0.1);
  border-radius: 8px;
}
