.logLibraryListMain {
  flex: 1;
  overflow-y: auto;
  font-size: 14px;
  ul {
    margin: 0;
    padding: 0;
    & > li {
      margin: 2px 0;
      padding: 0 8px;
      overflow: hidden;
      line-height: 32px;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      &:hover {
        color: #fff;
        background: #f2905c;
      }
    }
    .activeLogLibrary {
      color: #fff;
      background: #ee722e;
    }
  }
}
